@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 13px;
}
.light { 
    font-weight: 300;
}
.regular { 
    font-weight: 400;
}
.semibold { 
    font-weight: 600;
}